* {
    font-family: sans-serif;
 /*border: red solid 1px; */
    box-sizing: border-box;
}

/* Isto faz com que parte dinamica deixe de funcionar*/
/*html,body {
    margin: 0px;
    height: 100%;
}*/

header { overflow:hidden; }

body {
    margin: 10px;
  }

/* Caixa por tras da pesquisa */
#bigsearch{
    display:block;
    width: 99%;
    height: 110%;
    background-size: 40%;
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    
}

/* Nao encontramos  */
#searchbigbox {
    position: relative;
    vertical-align:middle;
    top: 50%;
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}

/* Nao encontramos - mas resolveuproblema botao desalinhado com middle  */
#searchbigtext {
    vertical-align:middle;
    height: 40px;
    font-size: x-large;
    background:rgba(255, 255, 255, 0.7);
    border:0px solid #dbdbdb;
    color: #696969; 
    
}

/* Barra de pesquisa */
#searchbigtextdiv {
    display: inline-block;
}

#searchbigbutton {
    position:relative;
    vertical-align:middle;
    padding: 6px 15px;
    left:2px;
    border:0px solid #008080;
    background-color:#008080;
    color:#fafafa;
    cursor:pointer;
}


#searchbigsuggestions{
    position: absolute;
    top: 47px;
    width: 576px; /* tamanho da barra de sugestoes*/
    border: darkgray solid 1px;
    background:rgba(255, 255, 255, 0.7);
    z-index: 10;
    display: none;


    
}

#searchbigsuggestions li {
    list-style: none;
    text-align: left;
    color:#696969;
}

#searchbigsuggestions ul {
    padding-left: 10px;
}


.topwords {
    width: 59%;
    font-family: "Arial Black";
    font-size: 40px;
    display: inline-block;
}

.toplogo{
    display: inline-block;
}


#messagebox{
    margin-left: 40%;
}

#searchwithresults{
    display: none;
}

#searchresults{
    display: inline-block;
    width: 60%;
    font-size: 12px;
}

#blankresults{
    display: inline-block;
    width: 35%;
    vertical-align: top;
}

#tweetresults{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}



/* Nome da doença */
.searchname{
    position: relative;
    width: 19%;
    font-family: "Bodoni 72 Oldstyle";
    font-size: 40px;
    color: #008080;
    text-transform: uppercase;
}


#searchheader {
    height: 100px;
    border-bottom: #FFFFFF solid 1px;
    background-color: #FFFFFF;

}


* {
    box-sizing: border-box;
  }
  


/* caixa de sugestoes depois de pesquisa */ Não faz nada neste momento
#searchsuggestions{
    position: relative;
    top: 40px;  /* por caixa das sugestoes mais para baixo */
    left:150px;
    width: 465px;
    border: #008080 solid 1px;
    background-color: rgb(138, 130, 130);
    display: none;
    z-index: 10;
}

#searchsuggestions > ul > li {
    list-style: none;
}

#searchsuggestions > ul  {
    padding-left: 10px;
}

#resultabstracts > ul > li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#resultabstracts {
    font-size: 1.5em;
    padding-left: 7px;
    margin-bottom: 10px;
}


.articletitle {
    font-style: italic;
    font-weight:bold;
    margin-bottom: 5px;
}

#resultphotos {
    display: inline-block;
    vertical-align: top;
}

#resultphotos > ul {
    padding: 0;
}

#resultphotos > ul > li {
    list-style: none;
    display: inline-block;
}



.likephoto{
    display: inline-block;
    background-image: url("../images/like.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 30px;
}
.dislikephoto {
    display: inline-block;
    background-image: url("../images/dislike.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 30px;
}

.photo:hover .photobuttons{
    position: absolute;
    top: 80%;
    left: 20%;
    display: block;
}

.photo .photobuttons {

    display: none;
}

.photo {
    position: relative;
    margin:2px;
}


.twitter-widget{
    display: inline-block;
    width: 50px;
}


/* 
class > .
id > #
 */